.container {
  display: grid;
  place-content: center;
  height: 90vh;
  gap: 5rem;
  max-height: -webkit-fill-available;
}

.logo {
  width: 100%;
  height: auto;
  filter: drop-shadow(0px 10px 60px var(--glowMid));
}

@media screen and (max-width: 600px) {
  .logo {
    filter: drop-shadow(5px 5px 30px var(--glowDark));
  }
}
