.header {
  background-image: url('../../public/images/header.svg');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-150px);
  width: 40vw;
  max-width: 450px;
  text-align: center;
  padding: 0.75rem 0;
  filter: var(--portalGlow);
  animation: dropDown 50ms linear forwards;
  animation-delay: 1.1s;
}

@keyframes dropDown {
  100% {
    transform: translateX(-50%) translateY(0);
  }
}

.header p {
  font-weight: var(--fontBold);
  font-size: var(--fontLg);
  text-transform: uppercase;
  line-height: 1;
}

@media screen and (max-width: 850px) {
  .header {
    background-image: url('../../public/images/header-m.svg');
    background-position: bottom;
    background-size: cover;
    width: 200px;
    margin-top: -25px;
    padding: 1rem 0 1.25rem 0;
    animation: dropDown 350ms linear forwards;
    animation-delay: 700ms;
  }

  .status {
    display: none;
  }
}
