.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 300px);
  /* allows 100vh to work properly on android phones, while still applying the fill available fix on ios */
  max-height: -webkit-fill-available;
  overflow: hidden;
}
