@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&display=swap');

:root {
  --background: #00080c;
  --accent: #4ea1ff;
  --stroke: #53d5f4;
  --success: #0af536;
  --hover: #9b85ea;
  --white: #f1eeee;
  --fontBold: 600;
  --fontLg: clamp(1.2rem, 1.9vw, 1.5rem);
  --fontMed: 1.1rem;
  --fontReg: 0.9rem;
  --logoGlow: drop-shadow(0 0 10px rgb(78 161 255 / 40%))
    drop-shadow(0 0 90px rgb(106 71 237 / 60%));
  --portalGlow: drop-shadow(0 0 4px rgb(106, 71, 237)) drop-shadow(0 0 9px rgb(106 71 237 / 60%));
  --successGlow: rgba(50 205 50 / 50%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: 100vh;
  /* allows 100vh to work properly on android phones, while still applying the fill available fix on ios */
  max-height: -webkit-fill-available;
}

body {
  font-family: 'Fira Code', monospace;
  line-height: 1.5;
  background-color: var(--background);
  color: var(--white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
input,
button {
  font: inherit;
  color: inherit;
  font-size: inherit;
}

input[type='range'] {
  cursor: pointer;
}

a {
  text-decoration: none;
}

button {
  background-color: var(--background);
  border: none;
  cursor: pointer;
}

p {
  margin: 0;
  overflow-wrap: break-word;
}

img {
  object-fit: cover;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 0;
}

/* Utilities */
.success {
  color: var(--success);
}

.bold {
  font-weight: var(--fontBold);
}
