.content {
  position: relative;
  display: grid;
  place-content: center;
  width: fit-content;
  height: 100%;
  margin: 0 auto;
  gap: 2rem;
  opacity: 0;
  animation: fade-in 150ms linear forwards;
  animation-delay: 1.5s;
}

.content h1 {
  text-align: center;
  font-size: var(--fontMed);
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.imageBorder {
  position: relative;
  width: 50vw;
  height: auto;
  max-width: 500px;
  margin: 0 auto;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-image: url('../../public/images/graph-paper.svg');
  background-size: 25%;
  background-position: center;
}

.imageBorder::before,
.imageBorder::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  height: auto;
  aspect-ratio: 1/1;
  filter: var(--portalGlow);
}

.imageBorder::after {
  width: 105%;
  background-image: url('../../public/images/outer-circle.svg');
  transform: translate(-50%, -50%) rotate(-75deg);
  animation: rotate 200ms ease-in-out forwards;
  animation-delay: 2s;
}

.imageBorder::before {
  width: 104%;
  background-image: url('../../public/images/inner-circle.svg');
  transform: translate(-50%, -50%) rotate(75deg);
  animation: rotate 125ms ease-in-out forwards;
  animation-delay: 2.2s;
}

@keyframes rotate {
  100% {
    transform: translate(-50%, -50%) rotate(0);
  }
}

.image {
  /* relative positions alien on top of border */
  position: relative;
  width: 100%;
  padding: 1rem;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: contain;
  transform: scaleY(0);
  animation: reveal 75ms linear forwards;
  animation-delay: 2.4s;
}

@keyframes reveal {
  100% {
    transform: scaleY(1);
  }
}

.stats {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  right: -325px;
  max-width: 250px;
  margin: 0 auto;
}

.stats li {
  margin: 1rem 0;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

@media screen and (max-height: 850px) {
  .imageBorder {
    height: 50vh;
    width: auto;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1250px) {
  .content {
    place-content: unset;
    padding-top: 100px;
  }

  .stats {
    position: relative;
    top: 0;
    right: 0;
  }
}
